
/* utilies */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    padding: 10px 20px;
}
a:hover{
    text-decoration: underline;
}
.left{
    float: left;
}
.right{
    float: right;
}
.t-white{
    color:white;
}
.t-black{
    color:black;
}
.b-white{
    background-color:white;
}
.b-black{
    background-color:black;
}
.b-blue{
    background-color: #0061ff;
}
.b-cyan{
    background-color: hsl(207deg 52% 81%);
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
}
/* content */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: white ;
    width: 100vw;
    z-index: 23;
    line-height: 100px;
    position: fixed;
}
header img{
    vertical-align: middle;
    padding: 0px 20px 0px 20px;
}
a{
    text-decoration: none;
}
header ul li{
    display: inline-block;
}
header ul li a{
    color: black;
    padding: 20px;
}
header ul li a.btn{
    margin-right: 40px;
}
.relative-container{
   position: relative;
}
.jumbotron{
    padding-top: 150px;
    width: 70vw;
    margin: auto;
}
.jumbotron h1{
    font-size: 78px;
  
}
.jumbotron p{
    margin-bottom: 40px;
    margin-top: 40px;
}
.jumbotron a{
    margin-top: 40px;
}
.jumbotron i{
    padding-bottom: 100px;
    font-size: 50px;
}
.jumbotron-content{
    display: inline-block;
}
.jumbotron-img img{
    width: 50%;
    position: absolute;
    left: 40%;
    bottom: 4%;
}